.green {
  color: green;
}
.red {
  color: red;
}
.black {
  color: black;
}
.input-group {
  margin: 0.5rem auto;
  width: 60%;
  height: 3 rem;
}
.loginZhihu {
  text-align: center;
}
#btLogin,
#btSignup {
  width: 60%;
  background: #0f88eb !important;
}
#btLogin:hover {
  background: #55abed;
}
.lessHalf {
  width: 50%;
  float: right;
  font-size: 0.9rem !important;
}
#fontS {
  color: lightblue;
  text-align: center;
}
.smLogin {
  font-size: 1rem !important;
}
ul {
  margin: 0 auto !important;
}
li {
  float: left;
}
.bfont {
  font-size: 0.3rem !important;
}
.bfont a {
  color: #aebdc9 !important;
}
#nameInf,
#pwInf,
#mobileInf {
  margin: 0 0 0 40%;
  display: none;
}
#login-subtitle {
  /*font-size: 34px;*/
}
#login-logo img {
  width: 104px;
  height: 51px;
}
#login-protocal {
  font-size: 12px;
  text-align: center;
  color: #999999;
}
#login-protocal a {
  color: #698ebf;
}
#login-signup-btn {
  color: #0f88eb;
  background: none;
  border-radius: 0px !important;
  border: none;
  border-bottom: 2px solid #0f88eb;
  box-shadow: none;
}
#login-login-btn {
  color: #878889;
  background: none;
  border-radius: 0px;
  border: none;
  box-shadow: none;
}
#verifiCode {
  display: none;
}
